-
  const pageTitle = 'Страница index'
  const pageMod = 'index'

  const newsTitle = 'События';
  const newsList = [
    {
      title: 'Новости ФИОП',
      timePeriod: '24 октября 2017',
      desc: 'Представитель Правления УК "РОСНАНО" Анатолий Чубайс выступил с лекцией на Форме Vestifinance',
      source: 'rbc.ru',
    },
    {
      title: 'СМИ о нас',
      timePeriod: '24 октября 2017',
      desc: 'Представитель Правления УК "РОСНАНО" Анатолий Чубайс выступил с лекцией на Форме Vestifinance',
      mods: 'video'
    },
    {
      title: 'Новости наноцентра',
      timePeriod: '24 октября 2017',
      desc: 'Совместная компания наноцентров "Техноспарк" и "Т-Нано" - Ronavi Robotics - объявила на выставке',
      mods: 'nanocenter',
    },
    {
      title: 'Новости ФИОП',
      timePeriod: '12 декабря - 17 декабря 2017',
      desc: 'X Петербуржский Международный инновационный форум',
      mods: 'event',
    }
  ];