-
  const pageTitle = 'Страница index'
  const pageMod = 'index'

  const newsList = [
    {
      title: 'Новость 1',
      desc: 'Описание новости',
      mods: 'red,widthBg'
    },
    {
      title: 'Новость 2',
      desc: 'Описание новости',
    },
    {
      title: 'Новость 3',
      desc: 'Описание новости',
    },
    {
      title: 'Новость 4',
      desc: 'Описание новости',
    }
  ];