extends ../layouts/blog-pages.pug

block pageInfo
  -
    const page = {
      title: 'Статья',
      name: 'article',
    }

block content
  article
    p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsa ipsam est, nostrum saepe doloribus sequi, nemo ratione veniam sunt aliquid sit ullam repudiandae autem aut! Itaque enim labore reprehenderit.