*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: var(--fontSize);
}

body {
  min-height: 100%;
  color: var(--colorText);
  line-height: var(--lineHeight);
  font-size: var(--fontSize--text);
  background-color: var(--colorWhite);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}