h1,
.h1 {
  font-size: var(--fontSize--h1);
}

h2,
.h2 {
  font-size: var(--fontSize--h2);
}

h3,
.h3 {
  font-size: var(--fontSize--h3);
}

p,
.paragraph {
  font-size: var(--fontSize--text);
  margin-bottom: 0.5rem;
}
