include ../newsCard/newsCard
include ../sectionTitle/sectionTitle
include ../grid/grid

mixin news(title, list)
  section.news.container&attributes(attributes)
    +sectionTitle(class="news__title")!= title
    +grid(class="news__grid")
      each item in list
        +gridItem
          +newsCard(
            item.title,
            item.timePeriod,
            item.desc,
            item.source,
            item.mods
          )