include ../components/header/header.pug
include ../components/footer/footer.pug

block pageData

doctype html
html(lang='ru')
  include ../components/head/head
  body(class="page" class=pageMod?"page--"+pageMod:false)
    block header
      .page__header
        +header()

    .page__content
      block content

    block footer
      .page__footer
        +footer()

    block vendors
    block scripts